# Ignore virtual environment
venv/

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore database files
db.sqlite3

# Ignore Django secret key (if you store it locally in settings.py)
*.env

# Ignore media and static files
media/
static/

# Ignore IDE/editor specific files
.idea/
.vscode/

# Ignore coverage and test reports
*.coverage
*.log
